*.luac
*.o
*.so
*.dylib
*.sh
*.dll
*.exe
*.a
*.log
*~
.#*
\#*
Thumbs.db
.DS_Store
semantic.cache
src/compiler/metalua
src/lua/luac
src/lua/lua
src/compiler/bootstrap
src/compiler/metalua
distrib
junk
patches
ran
build
