Fabien Fleutot <metalua@gmail.com> <fabien@macfabien.local>
Fabien Fleutot <metalua@gmail.com> <fabien@MacFabien.home>
Fabien Fleutot <metalua@gmail.com> <Fabien@.(none)>
Fabien Fleutot <metalua@gmail.com> <fabien@fabien-ubuntu.(none)>
Fabien Fleutot <metalua@gmail.com> <fabien@MacFabien.local>
Fabien Fleutot <metalua@gmail.com> <fleutot@gmail.com>
Fabien Fleutot <metalua@gmail.com> Fabien <metalua@gmail.com>
Kevin KIN-FOO <kkinfoo@sierrawireless.com> <kkin-foo@sierrawireless.com>
Vyacheslav Egorov <mister.aleph@gmail.com> <mr. Aleph@.(none)>
